
/* 
Robert Vets
Feb 16, 2015
Codefellows C26 
Homework 4, build a webpage for your javascript 
Updated for HW5, Feb21 
*/

body {
  font-family: arial;
  color: #ffff33;
  background-color: #000;
  background-image: url("../images/Race-Track-cartoon.jpg");
  background-size: 800px 600px;
  background-repeat: no-repeat;
  background-position: center top;
}

h1 {
  text-align: center;
  padding-top: 15px;
}

p {
  color: black;
}

section#intro p {
  color: yellow;
}

#intro{
  padding: 5px 30px 10px 35px;
  border: 2px solid yellow;
  margin-bottom: 80px;
  margin-top: 95px;
  margin-right: auto;
  margin-left: auto;
  background-color: #484848;
  width: 300px;
}

#introBtn{
  text-align: center;
}

#launchBttn {
  border: 4px solid red;
  color: black;
  background-color: yellow;
  border-radius: 20px;
  padding: 5px 25px;
  margin-right: auto;
  margin-left: auto;
}

#launchBttn2 {
  border: 4px solid red;
  color: black;
  background-color: yellow;
  border-radius: 20px;
  padding: 5px 25px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

#launchBttn:hover {
  border: 4px dashed black;
  background-color: green;
  color: white;
}

#launchBttn2:hover {
  border: 4px dashed black;
  background-color: green;
  color: white;
}
/* tried using classes on the buttons for hover and the pretty bits, but it didn't take */ 

#selectionstuff {
  visibility: hidden;
  background-color: white;
  width: 250px;
  border: 2px solid red;
  text-align: center;
  color: black;
  margin-top: 95px;
  margin-right: auto;
  margin-left: auto;
}

#flags {
  height: 100px;
  width: 150px;
  padding: 10px;
}

#results {
  visibility: hidden;
  color: white;
  padding: 10px;
  background-color: black;
  width: 300px;
  margin-top: 95px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid yellow;
}

footer ul {
  margin: 20;
  padding:0;
  text-align: center;
  list-style-type:none;
}

footer ul li{
  display: inline;
}

footer ul li a {
  color: yellow;
  background-color: #404040;
  text-decoration: none;
  padding: .3em 4em;
}

footer ul li a:hover; {
  color: black;
  background-color: white;
}

