
/* 
Robert Vets
Feb 16, 2015
Codefellows C26 
Homework 4, build a webpage for your javascript 
Updated for HW5, Feb21 
*/

body {
  font-family: arial;
  color: #ffff33;
  background-color: #000;
  background-image: url("../images/BigRoad.jpg");
  /* background-image: url('../images/imgres.jpg'); */
 
  background-size: 500px 800px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

h1 {
  color: #ffff33;
  background-color: black;
  text-align: center;
}

p {
  color: yellow;
}

#intro{
  padding: 5px 30px 10px 35px;
  border: 2px solid yellow;
  margin-bottom: 80px;
  margin-top: 95px;
  margin-right: auto;
  margin-left: auto;
  background-color: #484848;
  width: 300px;
}

#launch {
  color: black;
  background-color: yellow;
  border-radius: 20px;
  padding: 5px 25px;

}

#results {
  color: white;
  padding: 10px;
  background-color: black;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid yellow;
}

footer ul {
  margin: 20;
  padding:0;
  text-align: center;
  list-style-type:none;
}

footer ul li{
  display: inline;
}

footer ul li a {
  color: yellow;
  background-color: #404040;
  text-decoration: none;
  padding: .3em 4em;
}

footer ul li a:hover; {
  color: black;
  background-color: white;
}